<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>회원가입 페이지</h1>
<p>사용자 정보를 입력해주세요</p>
<input type="text" id="userId"/>
<input type="text" id="userPassword"/>
<button type="button" id="sendButton">보내기</button>

<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
<script>
    $("#sendButton").click(function(){
        var userId = $("#userId").val();
        var userPassword = $("#userPassword").val();
        console.log(userId, userPassword);
        $.ajax({
                url:'/getData',
                type : 'POST',
                data : {
                    sendUserId : userId,
                    sendUserPasswo2rd : userPassword 
                },
                success:function(responseData){
                    if(responseData == "1"){
                        console.log("전송성공");
                    }
                }
            })       

    })
</script>

</body>
</html>